.img {
    width: 250px;
    height: 150px;
    background-color: white;
}

h4 {
    font-size: 20px;
    color: rgb(225, 215, 221);
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

h3 {
    color: rgb(225, 220, 220);
    text-align: center;
}

.box {
    border: solid 3px violet;
    width: fit-content;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-top: 20px;
    background-color: #675757;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding-top: -5px;
    margin-left: 2rem;
}

.button {

    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: green;
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
    color: rgb(230, 208, 212);
}

p {
    color: white;
    margin-left: 87px;
    margin-top: 4px;
}

.add button {
    background-color: rgb(235, 224, 113);
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(65, 63, 63);
    font-weight: bold;
    padding: 10px 20px;

}

.add button:hover {
    background-color: #ee7971;
}

.add {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.container {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 40px 40px 40px;
    border-radius: 20px;

    .title {
        width: 400px;

        h3 {
            color: #fff;
            font-size: 36px;
            font-weight: bold;
        }
    }

    .username,
    .fisrtname {
        margin-bottom: 30px;
    }

    .username,
    .fisrtname,
    .lastname {
        line-height: 0px;

        h4 {
            color: #fff;
            font-size: 15px;
            font-weight: lighter;
        }

        input {
            padding: 20px 60px;
            border-radius: 12px;
            background-color: #3c4142;
            color: #fff;
        }

        ::placeholder {
            color: #fff;
            font-weight: 400;
            font-size: 15px;
        }
    }

    .btn {
        display: flex;
        justify-content: center;

        button {
            margin-top: 10px;
            margin-left: 12px;
            padding: 10px 10px;
            border-radius: 12px;
            background-color: #e01010;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
    }
}

dialog {
    width: 660px;
    height: 560px;
}