<div class="navbar">
    <div>
        <img class="logo"src="/assets/image.png" alt="Italian Trulli">
    </div>
    <div class="navigate" >
        <a href="#" class="material-symbols-outlined" [routerLink]="['/product']">
            inventory_2
        </a>
        <span class="material-symbols-outlined">
            search
        </span>
        <a href="#" class="material-symbols-outlined" [routerLink]="['/dashboard']">
            dashboard
        </a>
        <span class="material-symbols-outlined">
            local_fire_department
        </span>
        <span class="material-symbols-outlined">
            person
        </span>
    </div>
    <div class="setting">
        <a href="#" class="material-symbols-outlined" [routerLink]="['/cart']">
            shopping_cart
        </a>
    </div>
</div>